
@font-face {
    font-family: 'pacifio';
    src: url('/font/pacifio.woff2') format('woff2');
  }

body {
    /* background-color: rgb(28, 28, 28); */
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* a {
    color:green
} */

.cent {
    z-index: 3;
}

.cent{
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

img {
    display: middle;
}

li {
    text-align: center;
}

.w3-col.s6 {
    width: 19%;
    justify-content: center;
    justify-self: center;
    text-align: center;
    align-items: center;
}


.w3-col.s5 {
    width: 3%;
    justify-content: center;
    justify-self: center;
    text-align: center;
    align-items: center;
}

.buttonInvite {
    margin-left: 700px;
    text-align: center;
    width: 150px; 
    height: 70px;
    border-radius: 50px;
    font-family: Segoe UI;
    font-size: large;
    border-width: thick;
    border-style: solid;
    border-color:rgb(44, 0, 0);
    cursor:pointer;
    background-color: darkred;  
}

.buttons {
    display: flex;
    justify-content: center;
}

.inviteButtons {
    transition: 0.5s;
}

.inviteButtons:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(20, 0, 0, 1);
}

.navigationBar {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: darkred;
}

.marginauto {
    margin: 10px auto 20px;
    display: block;
}

.navigationBarItem {
    float: left;
    display:block;
    color:white;
    padding:15px 15px;
    text-align: center;
    text-decoration: none;
    min-width: 60px;
    transition: 0.3s;
}

.navigationBarLink {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navigationBarPlug {
    color: white;
    float: right;
    display:block;
    color:white;
    padding:15px 15px;
    text-align: right;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: 60px;
}

.navigationBarItem:hover{
    background-color: red;
}

.navDiv {
    position: fixed;
    z-index: 40;
    padding-top:0;
    width: 100%;
    margin:-9px auto;
    /* height:100%; */
    left:0;
    /* top:0; */
}

.counters {
    justify-content: center;
    display: flex;
}

.allTheCards {
    justify-content: center;
    display: flex;
}

#inviteButttonText {
    font-family: pacifio;
}
button {
    background: gray;
    color:white;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }

  #main{
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    display: table;
    margin: 10% auto;
    border-radius: 3px;
}

.title{
    color: #fff;
    padding: 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    text-align: center;
    font-weight: bold;
}

.counters{
    padding: 50px;
    list-style-type: none;
    display: flex;
    color: white;
    border-radius: 20px;
    font-size: larger;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#counter{
    font-weight: bold;
    color: white;
}  
